[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

*.csproj
*.sln
*.slnx
*.suo
*.user
*.pidb
*.userprefs
*.unityproj
.vs/
.idea/
.vscode/

*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db
